<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= hops_path %>">Hops</a> <span class="divider">/</span></li>
  <li class="active">Create a Hop</li>
</ul>
<%= render partial: "form", object: @hop %>
