<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= fermentables_path %>">Fermentables</a> <span class="divider">/</span></li>
  <li class="active">Edit a Fermentable</li>
</ul>
<%= render :partial => "form", :object => @fermentable %>
