<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= styles_path %>">Styles</a> <span class="divider">/</span></li>
  <li class="active">Create a Style</li>
</ul>
<%= render partial: "form", object: @style %>
