<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= yeasts_path %>">Yeast</a> <span class="divider">/</span></li>
  <li class="active">Edit a Yeast</li>
</ul>
<%= render :partial => "form", :object => @yeast %>
