<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= yeasts_path %>">Yeasts</a> <span class="divider">/</span></li>
  <li class="active">Create a Yeast</li>
</ul>
<%= render :partial => "form", :object => @yeast %>
