@import "bootstrap";
@import 'font-awesome';

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

// Nav

.nav [class^="icon-"],
.nav [class*=" icon-"] {
  line-height: 20px;
}

// Entity

.row-fluid .span3.entity-sidebar {
  float: right;
}

.entity-sidebar .control-label {
  padding-top: 4px;
  text-align: center;
  font-style: italic;
}

.row-fluid .span9.entity-content {
  margin-left: 0;
}

.entity-sidebar-search {
  margin-right: 28px;
}

@media (max-width: 767px) { 
  .entity-sidebar-search.input-append input {
    width: 100%;
  }

  .row-fluid .span3.entity-sidebar {
    float: none;
  }
}

// Session

.form-session {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-session.wide {
  max-width: 500px;
}

.form-session .form-session-heading,
.form-session .checkbox {
  margin-bottom: 10px;
}

.form-session input[type="email"],
.form-session input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-session .shared-links {
  margin-top: 25px;
}
